/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand{white-space:normal;text-align:center;word-break:break-all}
a{color:var(--primary)}
.btn-primary{color:#fff;background-color:var(--primary);border-color:var(--primary-600)}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:var(--primary);border-color:var(--primary-600)}
.border-top{border-top:1px solid #eef6ff}.border-bottom{border-bottom:1px solid #eef6ff}
.box-shadow{box-shadow:0 .25rem .75rem rgba(12,30,60,0.05)}
button.accept-policy{font-size:1rem}
.footer{width:100%;line-height:1.4}
